{% extends 'main/layout/layout.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <!-- side bar static elem -->
        <div class="col-md-3">
            <div class="sidebar shadow-sm h-100">
                <div class="text-center mb-4">
                    <div class="avatar-placeholder mb-3">
                        {% if user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" alt="Avatar" width="75">
                        {% else %}
                        <img src="{% static 'main/img/profile_placeholder.png' %}" alt="Profile placeholder" width="75">
                        {% endif %}
                    </div>
                    <h4 class="fw-bold">{{ user.username }}</h4>
                </div>

                <nav class="nav flex-column p-2">
                    <a
                        href="{% url 'profile_info' %}"
                        class="btn btn-outline-secondary my-1 w-100 text-start d-flex 
                        justify-content-between align-items-center 
                        {% if active_tab == 'info' %}active{% endif %}"
                    >
                        <span>
                            <i class="fa-solid fa-user me-2"></i> Profil
                        </span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>

                    <a 
                        href="{% url 'profile_orders' %}" 
                        class="btn btn-outline-secondary my-1 w-100 text-start d-flex 
                        justify-content-between align-items-center 
                        {% if active_tab == 'orders' %}active{% endif %}"
                    >
                        <span>
                            <i class="fa-solid fa-bag-shopping me-2"></i> Zamówienia
                        </span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>

                    <a
                        href="{% url 'profile_reports' %}" 
                        class="btn btn-outline-secondary my-1 w-100 text-start d-flex 
                        justify-content-between align-items-center 
                        {% if active_tab == 'reports' %}active{% endif %}"
                    >
                        <span>
                            <i class="fa-solid fa-message me-2"></i> Zgłoszenia
                        </span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>

                    <hr>
                    <form method="POST" action="{% url 'logout_user' %}" class="logout-form m-0 p-0">
                        {% csrf_token %}
                        <button class="btn btn-outline-secondary w-100 text-start" type="submit">
                            <i class="fa-solid fa-right-from-bracket me-2"></i> Wyloguj się
                        </button>
                    </form>
                </nav>
            </div>
        </div>
        <!-- dynamic -->
        <div class="col-md-9">
            {% block profile_content %}{% endblock %}
        </div>
    </div>
</div>
{% block extra_js %}{% endblock %}
{% endblock %}