{% extends 'main/layout/layout.html' %}
{% load static %}
{% block title %}Strona główna{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar shadow-sm h-100">
                <div class="text-center mb-4">
                    <div class="avatar-placeholder mb-3">
                        {% if user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" alt="Avatar" width="75">
                        {% else %}
                        <img src="{% static 'main/img/profile_placeholder.png' %}" alt="Profile placeholder" width="75">
                        {% endif %}
                    </div>
                    <h4 class="fw-bold">{{ user.username }}</h4>
                </div>

                <nav class="nav flex-column p-2">
                    <button class="btn btn-outline-secondary my-1 w-100 text-start d-flex justify-content-between align-items-center switch-section-js active" data-section="profile-section">
                        <span>
                            <i class="fa-solid fa-user me-2"></i> Profil
                        </span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>

                    <button class="btn btn-outline-secondary my-1 w-100 text-start d-flex justify-content-between align-items-center switch-section-js" data-section="order-section">
                        <span>
                            <i class="fa-solid fa-bag-shopping me-2"></i> Zamówienia
                        </span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>

                    <button class="btn btn-outline-secondary my-1 w-100 text-start d-flex justify-content-between align-items-center switch-section-js" data-section="messages-section">
                        <span>
                            <i class="fa-solid fa-message me-2"></i> Zgłoszenia
                        </span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>

                    <hr>
                    <form method="POST" action="{% url 'logout_user' %}" class="m-0 p-0">
                        {% csrf_token %}
                        <button class="btn btn-outline-secondary w-100 text-start" type="submit">
                            <i class="fa-solid fa-right-from-bracket me-2"></i> Wyloguj się
                        </button>
                    </form>
                </nav>
            </div>
        </div>

        <div class="col-md-9 content-section" id="profile-section">
            <div class="profile-card shadow-sm p-4 position-relative">

                <h3 class="fw-bold d-flex justify-content-between align-items-center mb-0">
                    <span class="mb-0">Profil</span>

                    <span class="btn btn-outline-secondary d-flex align-items-center justify-content-center edit-profile-data-js">
                        <i class="fa-solid fa-pen"></i>
                    </span>
                    <span class="btn btn-success d-flex align-items-center justify-content-center confirm-profile-data-js d-none">
                        <i class="fa-solid fa-check"></i>
                    </span>
                </h3>
                <p class="text-muted">Informacje o twoim koncie</p>
                <hr class="mb-4">

                <div class="row data-row align-items-center">
                    <div class="col-sm-4 text-muted">Użytkownik</div>
                    <div class="col-sm-8 fw-semibold"><span>{{ user.username }}</span></div>
                </div>

                <div class="row data-row align-items-center">
                    <div class="col-sm-4 text-muted">Numer telefonu</div>
                    <div class="col-sm-8 fw-semibold d-inline-flex align-items-center gap-1 edit-field-js" data-field="field-phone">
                        <span class="field-value-js">
                            {{ user.profile.phone|default:"" }}
                        </span>
                        {% if not user.profile.phone %}
                        <span class="badge bg-warning text-dark">
                            <i class="fa-solid fa-triangle-exclamation me-1"></i>
                            Niekompletne dane
                        </span>
                        {% endif %}
                    </div>
                </div>

                <div class="row data-row align-items-center">
                    <div class="col-sm-4 text-muted">Email</div>
                    <div class="col-sm-8 fw-semibold d-inline-flex align-items-center gap-1">
                        <span class="field-value-js">
                            {{ user.email }}
                        </span>
                        {% if not user.email %}
                        <span class="badge bg-warning text-dark">
                            <i class="fa-solid fa-triangle-exclamation me-1"></i>
                            Niekompletne dane
                        </span>

                        {% endif %}
                    </div>
                </div>

                <div class="row data-row align-items-center"><br></div>

                <div class="row data-row align-items-center">
                    <div class="col-sm-4 text-muted">Adres</div>
                    <div class="col-sm-8 fw-semibold d-inline-flex align-items-center gap-1">
                        <span class="field-value-js">
                            {{ user.profile.address }}
                        </span>
                        {% if not user.profile.address or not user.profile.city%}
                        <span class="badge bg-warning text-dark">
                            <i class="fa-solid fa-triangle-exclamation me-1"></i>
                            Niekompletne dane
                        </span>

                        {% endif %}
                    </div>
                </div>

                <div class="row data-row align-items-center">
                    <div class="col-sm-4 text-muted">Miasto</div>
                    <div class="col-sm-8 fw-semibold d-inline-flex align-items-center gap-1">
                        <span class="field-value-js">
                            {{ user.profile.zip_code }} {{ user.profile.city }}
                        </span>
                        {% if not user.profile.zip_code or not user.profile.city%}
                        <span class="badge bg-warning text-dark">
                            <i class="fa-solid fa-triangle-exclamation me-1"></i>
                            Niekompletne dane
                        </span>
                        {% endif %}
                    </div>
                </div>

                <div class="row data-row align-items-center">
                    <div class="col-sm-4 text-muted">Kraj</div>
                    <div class="col-sm-8 fw-semibold d-inline-flex align-items-center gap-1">
                        <span class="field-value-js">
                            {{ user.profile.country }}
                        </span>
                        {% if not user.profile.country %}
                        <span class="badge bg-warning text-dark">
                            <i class="fa-solid fa-triangle-exclamation me-1"></i>
                            Niekompletne dane
                        </span>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row data-row align-items-center">
                    <div class="col-sm-4 text-muted">Newsletter</div>
                    <div class="col-sm-8 fw-semibold d-inline-flex align-items-center gap-1">
                        {% if user.profile.newsletter %}
                        <span class="badge bg-success">Aktywny</span>
                        {% else %}
                        <span class="badge bg-danger">Nieaktywny</span>
                        {% endif %}
                    </div>
                </div>

                <div class="row data-row align-items-center">
                    <div class="col-sm-4 text-muted">Usuwanie konta</div>
                    <div class="col-sm-8 fw-semibold d-inline-flex align-items-center gap-1">
                        <form action="{% url 'delete_account' %}" method="POST">
                            {% csrf_token %}
                            <span type="submit" class="delete-account-js badge bg-warning text-dark">
                                <i class="fa-solid fa-x me-1"></i>
                                Usuń moje konto
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 content-section" id="order-section" style="display: none;">
            <div class="order-card shadow-sm p-4 position-relative">

                <h3 class="fw-bold d-flex justify-content-between align-items-center mb-0">
                    <span class="mb-0">Zamówienia</span>
                </h3>
                <p class="text-muted">Wszytskie twoje zamoówienia w jednym miejscu</p>
                <hr class="mb-4">

                {% for order in orders %}
                    <div class="border rounded p-4">
                        <div class="d-flex justify-content-between align-items-center m-2">
                            <span>Zamówienie - {{ order.created_at|date:"d.m.Y H:i" }}</span>
                            
                            <div class="d-flex align-items-center gap-2">
                                <span class="badge px-3 py-2
                                    {% if order.status == 'new' %}
                                        bg-warning text-dark
                                    {% elif order.status == 'processing' %}
                                        bg-primary
                                    {% elif order.status == 'shipped' %}
                                        bg-info text-dark
                                    {% elif order.status == 'completed' %}
                                        bg-success
                                    {% elif order.status == 'canceled' %}
                                        bg-danger
                                    {% else %}
                                        bg-secondary
                                    {% endif %}
                                ">
                                    {{ order.get_status_display }}
                                </span>

                                {% if order.status == 'new' or order.status == 'canceled' %}
                                <form action="#" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="badge bg-danger border-0 px-3 py-2 text-white shadow-sm">Anuluj</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="accordion" id="orderAccordion{{ order.id }}">
                            <div class="accordion-item border rounded-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed fw-semibold"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ order.id }}">
                                        Produkty w zamówieniu
                                    </button>
                                </h2>

                                <div id="collapse{{ order.id }}"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#orderAccordion{{ order.id }}">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush border-top border-bottom">
                                            {% for item in order.items.all %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center py-3 px-0 bg-transparent">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0">
                                                            {% with main_image=item.product.images.all|first %}
                                                                {% if main_image %}
                                                                    <img src="{{ main_image.image.url }}" 
                                                                        alt="{{ item.product.name }}" 
                                                                        class="img-fluid rounded-3 border" 
                                                                        style="width: 60px; height: 60px; object-fit: cover;">
                                                                {% else %}
                                                                    <div class="bg-light rounded-3 border d-flex align-items-center justify-content-center" 
                                                                        style="width: 60px; height: 60px;">
                                                                        <i class="bi bi-image text-muted"></i>
                                                                    </div>
                                                                {% endif %}
                                                            {% endwith %}
                                                        </div>

                                                        <div class="ms-3">
                                                            <h6 class="mb-0 fw-semibold">{{ item.product.name }}</h6>
                                                            <small class="text-muted">{{ item.quantity }} szt. × {{ item.price }} zł</small>
                                                        </div>
                                                    </div>
                                                    
                                                    <span class="fw-bold text-dark text-nowrap ms-2">
                                                        {{ item.get_total_price }} zł
                                                    </span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-footer py-3 m-2 border-top-0 d-flex justify-content-between align-items-center">
                            <span class="text-muted">Wartość całkowita:</span>
                            <h4 class="badge bg-secondary mb-0 fw-bold fs-6">{{ order.get_total_price }} zł</h4>
                        </div>
                    </div>
                {% empty %}
                    <p>Nie masz jeszcze żadnych zamówień.</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9 content-section" id="messages-section" style="display: none;">
            <div class="profile-card shadow-sm p-4 position-relative">

                <h3 class="fw-bold d-flex justify-content-between align-items-center mb-0">
                    <span class="mb-0">Twoje zgłoszenia</span>
                </h3>
                <p class="text-muted">Wszytskie twoje zgłoszenia w jednym miejscu</p>
                <hr class="mb-4">
                <p>Funckjonalność w trakcie realizacji...</p>
                <!-- {% for message in messages %}
                    <div style="border: 1px solid #ccc; margin-bottom: 20px; padding: 10px;">
                        Zamówienie - {{ order.created_at|date:"d.m.Y H:i" }}
                        <p>Status: {{ order.get_status_display }}</p>
                        
                        <ul>
                        {% for item in order.items.all %}
                            <li>
                                {{ item.product.name }} — {{ item.quantity }} szt. x {{ item.price }} zł 
                                (Suma: {{ item.get_total_price }} zł)
                            </li>
                        {% endfor %}
                        </ul>
                        
                        <p><strong>Łącznie do zapłaty: {{ order.get_total_price }} zł</strong></p>
                    </div>
                {% empty %} -->
                    
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'main/js/profile.js' %}"></script>
{% endblock %}