{% extends "main/account/profile_base.html" %}

{% block profile_content %}
    <div class="profile-card shadow-sm p-4 position-relative">
        <h3 class="fw-bold d-flex justify-content-between align-items-center mb-0">
            <span class="mb-0">Twoje zgłoszenia</span>
        </h3>
        <p class="text-muted">Wszytskie twoje zgłoszenia w jednym miejscu</p>
        <hr class="mb-4">
        <p>Funckjonalność w trakcie realizacji...</p>
        <!-- {% for message in messages %}
            <div style="border: 1px solid #ccc; margin-bottom: 20px; padding: 10px;">
                Zamówienie - {{ order.created_at|date:"d.m.Y H:i" }}
                <p>Status: {{ order.get_status_display }}</p>
                
                <ul>
                {% for item in order.items.all %}
                    <li>
                        {{ item.product.name }} — {{ item.quantity }} szt. x {{ item.price }} zł 
                        (Suma: {{ item.get_total_price }} zł)
                    </li>
                {% endfor %}
                </ul>
                
                <p><strong>Łącznie do zapłaty: {{ order.get_total_price }} zł</strong></p>
            </div>
        {% empty %} -->
            
        {% endfor %}
    </div>
{% endblock %}