body {
    margin: 0;
    padding: 0;
    background-image: url("../img/os_background_pattern.png");
    background-size: 500px;
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

/* GŁÓWNY KONTENER */
.main-content-wrapper {
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

/* KARTY PRODUKTÓW */
.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.08);
}

/* CUSTOM MAP BUTTON */
.btn-map-custom {
    border-radius: 12px; 
    padding: 12px;
    font-weight: 600;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-map-custom:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}